In [53]:
import pandas as pd
import re

In [88]:
filename = "C:\\Users\shantanu.ray\Downloads\CFL12_saline_CoolTerm Capture 2022-03-28 15-01-13.txt"
filename = "C:\\Users\shantanu.ray\Downloads\CFL9_saline_CoolTerm Capture 2022-05-12 15-00-18.txt"

In [94]:
columns = ['TIME (ms)', 'BNC1', 'BNC2', 'ABORT']
regex_columns = ['TIME \(ms\): *(\d+)\n', 'BNC1: *(\d+)\n', 'BNC2: *(\d+)\n', '(ABORT)\n']
regex_columns = [re.compile(x) for x in regex_columns]

In [101]:
trial_count = -1
df = pd.DataFrame(columns=columns)
with open(filename, 'r') as fp:
    for line_no, line in enumerate(fp):
        if columns[0] in line:
            print(line)
            trial_count += 1
            df.loc[trial_count, columns[0]] = int(regex_columns[0].search(line).group(1))
        for idx, col in enumerate(columns[1:-1]):
            if col in line:
                print(line)
                df.loc[trial_count, col] = int(regex_columns[idx+1].search(line).group(1))
        if columns[-1] in line:
            print(line)
            df.loc[trial_count, columns[-1]] = 'True'

TIME (ms): 557320

BNC1: 40243

BNC2: 50678

TIME (ms): 618127

BNC1: 16281

BNC2: 19755

TIME (ms): 643429

BNC1: 26839

ABORT

TIME (ms): 683495

BNC1: 4105

BNC2: 5609

TIME (ms): 694242

BNC1: 16355

ABORT

TIME (ms): 723730

BNC1: 3125

BNC2: 7184

TIME (ms): 735422

BNC1: 12638

BNC2: 28925

TIME (ms): 770783

BNC1: 30320

BNC2: 41244

TIME (ms): 818573

BNC1: 16074

BNC2: 41655

TIME (ms): 866992

BNC1: 15877

BNC2: 17434

TIME (ms): 888966

BNC1: 14416

BNC2: 25993

TIME (ms): 920078

BNC1: 22943

BNC2: 29271

TIME (ms): 955653

BNC1: 12097

BNC2: 36441

TIME (ms): 996117

BNC1: 13216

BNC2: 16416

TIME (ms): 1016489

BNC1: 14789

BNC2: 22542

TIME (ms): 1043102

BNC1: 18210

ABORT

TIME (ms): 1076416

BNC1: 526

ABORT

TIME (ms): 1095867

ABORT

TIME (ms): 1104131

BNC1: 708

BNC2: 4966

TIME (ms): 1116048

BNC1: 9052

BNC2: 12382

TIME (ms): 1133967

BNC1: 10323

BNC2: 11938

TIME (ms): 1151783

BNC1: 3073

BNC2: 4661

TIME (ms): 1162514

BNC1: 18046

BNC2: 26709

TIME (ms): 1194762

BNC1: 9058

ABORT

TIME (ms): 1219910

BNC1: 4614

BNC2: 11851

TIME (ms): 1242084

BNC1: 4835

BNC2: 6493

TIME (ms): 1254672

BNC1: 361

ABORT

TIME (ms): 1266810

BNC1: 3732

BNC2: 4821

TIME (ms): 1280172

BNC1: 8808

BNC2: 10096

In [92]:
df.columns

Index(['TIME (ms)', 'BNC1', 'BNC2', 'ABORT'], dtype='object')

In [102]:
df

   TIME (ms)   BNC1   BNC2 ABORT
0     557320  40243  50678   NaN
1     618127  16281  19755   NaN
2     643429  26839    NaN  True
3     683495   4105   5609   NaN
4     694242  16355    NaN  True
5     723730   3125   7184   NaN
6     735422  12638  28925   NaN
7     770783  30320  41244   NaN
8     818573  16074  41655   NaN
9     866992  15877  17434   NaN
10    888966  14416  25993   NaN
11    920078  22943  29271   NaN
12    955653  12097  36441   NaN
13    996117  13216  16416   NaN
14   1016489  14789  22542   NaN
15   1043102  18210    NaN  True
16   1076416    526    NaN  True
17   1095867    NaN    NaN  True
18   1104131    708   4966   NaN
19   1116048   9052  12382   NaN
20   1133967  10323  11938   NaN
21   1151783   3073   4661   NaN
22   1162514  18046  26709   NaN
23   1194762   9058    NaN  True
24   1219910   4614  11851   NaN
25   1242084   4835   6493   NaN
26   1254672    361    NaN  True
27   1266810   3732   4821   NaN
28   1280172   8808  10096   NaN

In [ ]:
columns[-1]

'ABORT'

In [1]:
from os import listdir
from os.path import join, split, splitext
import pandas as pd
import re

In [3]:
listdir('.')

['.ipynb_checkpoints',
 'areaUnderCurve.m',
 'countPeaks.m',
 'emgSegmentation.m',
 'getAcceleration.m',
 'getElbowJointAngle.m',
 'getFirstMarker.m',
 'getLocalAziElev.m',
 'getPathLength.m',
 'getPeaks.m',
 'getPoseHeight.m',
 'getPoseLateralDistance.m',
 'getPulls.m',
 'getSamplingFrequency.m',
 'getSegmentFirstPeak.m',
 'getSegmentNumPeaks.m',
 'getSegmentRhythymicPeak.m',
 'getSpeed.m',
 'getTrialData.m',
 'getTrialMarkerID.m',
 'getTrialXYZ.m',
 'importTrials.m',
 'parse_encoder_log.ipynb',
 'processTrialList.m',
 'updateTrialListAccelerationPeaks.m']